/* Menu.css */

/* .submenu {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .submenu-item {
    padding: 8px;
    border-radius: 4px;
  }
  
  .submenu-item:hover {
    background-color: #d0d0d0;
    cursor: pointer;
  }
   */