/*Desktop View*/
.header {
    display: flex;
    /* justify-content: space-between; Space out left and right items */
    align-items: center;
    padding: 0px 20px;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #463610;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
    top: 0%;
}

.logonav {
    /* The left section, containing the logo */

}

.logonav a {
    font-size: 20px;
    color: white;
    font-weight: 800;
 
}

.logonav a:hover {
    color: #edd695;
    transition: all ease 0.5s;
}

/* Adjust the right section (divright) to be aligned on the right */
.divright {


    display: flex;
    justify-content: flex-end; /* Align contents to the right */
    align-items: center; /* Center the items vertically */
    width: 100%; 
    /* margin-left: auto; Push divright to the far right */
}

.nav-right {
    margin-left: 300px;
   
    background-color: peru;
    display: flex;
    align-items: center;
    justify-content: center;
   
    /* flex-wrap: wrap; */
    /* flex-grow:6; */
}

.divr {
    flex-grow:3;
    display: flex;
    justify-content: flex-end; /* Ensures the content inside divr is pushed to the right */
    align-items: center; /* Center the items vertically */
    background-color: purple;
 padding-left: 200px;
    /* Remove unnecessary background color for now */

    
 
}

.icon {
    /* Placeholder for future icons */
}

.searchinput {
    width: 300px;
    margin-left: 15px;
    max-width: 1800px;
    height: 35px;
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid white;
}

.nav-options {
    /* padding-left: 25px;
    display: flex;
    list-style-type: none;
    margin-bottom: 15px!important; */

    display: flex; /* Horizontally align the child elements (li's) */
    list-style: none;
    padding: 0;
    margin: 0;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    margin-top: 5px;
    color: white;
    margin-left: 15px;
}

.option a {
    color: white;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 18px;
}

.option a:hover {
    color: #edd695;
    transition: all ease 0.5s;
}

a {
    text-decoration: none!important;
}

.option:hover {
    color: rgb(6, 240, 170);
}
.optionsignin{
    display: flex; /* Flex to ensure horizontal alignment */
    align-items: center; /* Vertically center the content */
    margin: 0; /* Remove any default margins between items */

    /* display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 50px;
    margin-top: 5px;
    color: white;
    margin-left: 15px;
    background-color: blue; */

}

.optionsignin a {
    color: white;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 18px;
}

.optionsignin a:hover {
    color: #edd695;
    transition: all ease 0.5s;
}

a {
    text-decoration: none!important;
}

.optionsignin:hover {
    color: rgb(6, 240, 170);
}

.profile-dropdown {

    
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
    
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Profile dropdown menu styles */
.dropdownprofile {

    
    position: absolute;
    top: 4.5rem;
    right: 5.5rem;
    width: 120px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid white;
}

.dropdownprofile::before {
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 25px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
}

.dropdownprofile ul {
    
    list-style: none;
    padding: 0;
    margin-left: -15px;
    width: 120px;
}

.dropdownprofile li {
    padding: 12px 16px;
    cursor: pointer;
    color: black;
    border-bottom: 1px solid rgb(224, 216, 216); 
}

.dropdownprofile li:hover {
    color: rgb(6, 240, 170);
}

/* Logout option styles */
.optionlogout {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120px;
}

li .optionlogout:hover {
    color: #e3a514;
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none!important;
    }
    .header {
        display: grid;
        grid-template-columns: 10% 60%;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0px 10px;
    }
    .nav-options {
        display: flex;
        width: 100%;
        height: 280px;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        flex-direction: column;
        list-style-type: none;
    }
    .nav-options.active {
        background: black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 100;
    }
    .menu-icon {
        width: 45px;
        height: 45px;
        color: rgb(233,83,75);
        padding: 2px;
        background-color: rgb(246, 233, 202);
        border-radius: 5px;
        cursor: pointer;
        margin: 0px 5px 0px 10px;
    }
    .option {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 30px 0px;
    }
}


/* old */
